In [18]:
import os
import pandas as pd
import numpy as np

In [2]:
os.chdir('D:/USF/Data Visualization/DataFiles/learn-data-analysis-w-python-master/datasets')

In [3]:
df=pd.read_csv("gradedata.csv")

In [ ]:
#Random sample of 500 rows from the Dataset

In [19]:
df.take(np.random.permutation(len(df))[:500])

,fname,lname,gender,age,exercise,hours,grade,address
35,Cain,Sexton,male,16,3,8,85.3,"9370 Green Hill Dr., Beaver Falls, PA 15010"
325,Thor,Ramos,male,17,3,18,100.0,"208 Plymouth St., Grove City, OH 43123"
387,Hiroko,Koch,female,17,4,15,90.4,"7843 Bay Street, Lombard, IL 60148"
1119,Evangeline,Haley,female,16,5,12,94.3,"951 Valley Farms Street, Marshalltown, IA 50158"
1820,Dexter,Dalton,male,14,3,8,72.0,"47 Tanglewood Court, Land O Lakes, FL 34639"
...,...,...,...,...,...,...,...,...
1279,Georgia,Fuentes,female,16,4,8,75.3,"84 Smith Store Lane, Sewell, NJ 08080"
1297,Gregory,Evans,male,14,1,13,88.0,"918 Brickyard St., South Bend, IN 46614"
262,Cain,Russo,male,19,1,10,83.6,"4 Oak Street, Gallatin, TN 37066"
183,Nyssa,George,female,19,2,10,80.2,"482 Winding Way Ave., Union, NJ 07083"
1874,Tatum,Grimes,female,15,1,15,91.1,"8236 Mill Pond Street, Harlingen, TX 78552"